<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<style>
#full{
        margin: auto;
        background-color: beige;
}

#middle{
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.row{
    text-align: center;
    border: 3px;
}

.lead{
    text-align: center;
    border: 3px;
}
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css">

    <title>Contact Us</title>
</head>
<br>
<br>
<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">
    <div id="full" class="full">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">

                    <a class="navbar-brand" href="/index"><img src="/static/img/logo1.jpg" alt=""> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/contact">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blogs">Blogs</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                           <a class="btn btn-outline-success"  href="/login">Login</a>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <br>
        <main>
            <br>

            <div class="row" style="background-image: url('/static/img/bg12.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
                <br>
                <br>
                <h1 style="color: rgb(4, 18, 31);font-style: italic;">Behind the Initiative</h1>
                <br>
                <div class="py-5 col-lg-4" >
                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="/static/img/ManthanBhatia.jpg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em"></text>
                    <h2>Manthan Bhatia</h2>
                    <p style="color:rgb(4, 16, 27);font-style: italic;">A B.Tech final year student who has
                        worked with multiple NGO's and is currently associated with 'The National Youth Council of
                        India'
                    </p>
                    <h5 style="color: maroon;font-style: italic;">bhatia.manthan7@gmail.com</h5>
                </div>

                <div class="py-5 col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="/static/img/Pragya.jpg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em"></text>
                    <h2>Pragya Sinha</h2>
                    <p style="color:rgb(4, 16, 27);font-style: italic;">A B.Tech final year student who has worked
                        with multiple NGO's and is currently associated with 'The National Youth Council of
                        India'.
                    </p>
                    <h5 style="color: maroon;font-style: italic;">sinhapragya3098@gmail.com</h5>
                </div><!-- /.col-lg-4 -->

                <div class="py-5 col-lg-4">

                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="/static/img/Soumya.jpg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                        dy=".3em"></text>
                    <h2>Soumya Srivastava</h2>
                    <p style="color:rgb(4, 16, 27);font-style: italic;">A final year B.Tech student who is interested in
                        socio-economic development policies,macroeconomic indicators and their analysis.</p>
                    <h5 style="color: maroon;font-style: italic;">soumya15srivastava@gmail.com</h5>

                </div>



                <!-- Marketing messaging and featurettes
          ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->

                <div class="container marketing">
                    <div class="container">
                        <section class="py-5 text-center container">
                            <div class="row py-lg-5">
                                <div class="col-lg-6 col-md-8 mx-auto">
                                    <h1 class="fw-bold">Have a Query?</h1>
                                    <h2>Ask US</h2>
                                   <h6 >Fill the form and write your query, our team will get
                                        back to
                                        you
                                        within 48 hours.</h6>

                                    <a href="/query" class="btn btn-primary btn-lg my-2">Ask a Question</a>


                                </div>
                            </div>
                        </section>
                    </div>



                    <!-- START THE FEATURETTES -->
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">Have a Suggestion? <span class="text-muted"></span></h2>
                            <h6>Being a star-up each and every suggestion is valuable to us. </h6>
                            <p>
                                <a href="/suggestion" class="btn btn-primary btn-lg my-2">Your Suggestion</a>
                            </p>
                        </div>
                        
                        <div class="col-md-5">
                        
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="400" height="400" src="/static/img/suggestion.png" >

                        </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading">Want to get featured on our website? </h2>
                            <h4>We Value Your Thoughts</h4>
                            <h6>The best thought would be featured on our website under the blogs
                                section.</h6>
                            <br>
                            <p><a href="/thoughts" class="btn btn-primary btn-lg my-2">Your Thoughts</a></p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="400" height="400" src="/static/img/Blogs.jpg">

                        </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="row featurette">
                        <div class="col-md-5">
                            <h2 class="featurette-heading">Follow Us:</h2>
                            <br>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col"><a href="https://www.facebook.com/annapurna.2021/">
                                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                                width="60" height="60" src="/static/img/facebook.png"></a>
                                    </div>
                                    <div class="col"> <a href="https://www.instagram.com/manthan.bhatia/">
                                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                                width="60" height="60" src="/static/img/instagram.jpg"></a>
                                    </div>
                                    <div class="col"> </a> <a href="https://twitter.com/">
                                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                                width="85" height="85" src="/static/img/twit.png"> </a>
                                    </div>
                                    <div class="col"> <a href="https://www.linkedin.com/in/manthan-bhatia-1337501aa/">
                                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                                width="60" height="60" src="/static/img/linkedin.png">
                                        </a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <!-- /END THE FEATURETTES -->

                </div><!-- /.container -->


                <!-- FOOTER -->
                <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="/static/img/logo1.jpg" alt="" width="50" height="50">
                        <small class="d-block mb-3 text-muted">© 2017–2021</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Who we are</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/index">Home</a>
                            </li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">About
                                    us</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/services">Services we provide</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/contact">Contact Us</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Get involved</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/donation">Donate</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/regres">Join the team</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/signup">Request
                                    for food</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Follow us</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.instagram.com/india_beats_hunger/">Instagram</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">linkedIn</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </main>


        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>


    </div>

</body>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>