<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>IBH</title>
</head>

<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="/index"> <img src="static/img/logo1.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Blogs</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-success"  href="/login">Login</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img class="bd-placeholder-img" width="100%" height="700" src="../static/img/giving.jpg" alt="">


                    <div class="container">
                        <div class="carousel-caption text-start text-white">
                            <h1>Welcome to India Beats Hunger.</h1>
                            <br>
                            <p><a class="btn btn-lg btn-primary" href="/login">Login</a> </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img " width="100%" height="700" src="static/img/honey.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-dark">
                            <h1>Donating Partners.</h1>
                            <p>“Giving is not just about making a donation. It’s about making a
                                difference.” </p>
                            <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%" height="700" src="/static/img/share.jpg" alt="">

                    <div class="container">
                        <div class="carousel-caption text-end text-white">
                            <h1>Active Volunteers</h1>
                            <p>“Volunteers do not necessarily have the time. They just have the heart.”</p>
                            <p><a class="btn btn-lg btn-primary" href="/volunteer">Register as a Volunteer</a></p>
                            
                            <p><a class="btn btn-lg btn-primary" href="https://docs.google.com/spreadsheets/d/1aqGnVt44cozM1imsLD1ibztwAcUJ1jRweTGqoeiQLX0/edit?usp=sharing">Browse List</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
          ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <div class="container">
                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <h1 class="fw-dark">IBH - A strive against hunger</h1>
                            <bR>
                            <h4> “For better unity,help your community.” </h4>
                            <p>
                                <br>
                                <br>
                                <span class="text-muted"> Register now on the link below to partner with us and live the
                                    passion of Service.</span>
                                <a href="/donation" class="btn btn-primary btn-lg my-2">DONATE NOW</a>

                            </p>
                        </div>
                    </div>
                </section>
            </div>


            
           

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Donate with 100% transparency <span class="text-muted"></span></h2>
                    <p class="lead"> Because you deserve to know when , where and how your donations are bringing what
                        change in who’s life. We at IBH try to maintain the highest levels of transparency in our
                        functioning. We maintain a full database of our volunteers and donors on our website which can
                        be accessed by anyone, anywhere at anytime!
                        Also, those who wish to make a financial contribution can do the same at their convenience.
                    </p>
                    <br>
                    <h4 class="text-primary">“Giving is not just about making a donation. It’s about making a
                        difference.”</h4>

                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="700" src="/static/img/volunteer.JPG">

                </div>
            </div>
            <br>
            <hr class="featurette-divider">
            <br>
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Wasting food in a hungry world <span class="text-muted">Take as much
                            as you can eat.</span></h2>
                    <p class="lead">We're taught that food in a dumpster is waste. But when you find bags of bread
                        that
                        are perfectly good, all of a sudden that waste turns into bounty. That's an important shift
                        in
                        perception. Every little contribution of yours can make remarkable difference.
                    </p>
                    <h3 class="text-danger"> “Got more than needed?
                        <br> &emsp; &emsp; &emsp; &emsp; &emsp; Then,Donate!”
                    </h3>

                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="700" src="/static/img/rubbish.jpg">

                </div>
            </div>
            <br>
            <hr class="featurette-divider">
            <br>
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, are we future ready? <span
                            class="text-muted"></span>
                    </h2>
                    <p class="lead">As stated by UNEP, food wastage contributes 8-10% of greenhouse gas emissions. We
                        endeavour to contribute in a small but significant way in the war against climate change.<br>
                        Also, we aspire to make "Organic Farming" the way- of-life and reduce the dependence on
                        chemicals and fertilizers.<br>
                        We try to engage stakeholders in such a manner that the well being of this planet becomes
                        everyone's business.</p><br>
                        <h4 class="text-danger"> “The best way to prepare for the future is to take care of the present.”
                        </h4>    
                        <br>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="700" src="/static/img/malnutrition.JPG">

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


       </div><!-- /.container -->
        <br>
        <br>
        <div class="bg-dark text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white">Take Action</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">Help eliminate food wastage and help the country.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                            href="/services">Register/Donate</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="px-5 pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="/static/img/logo1.jpg" alt="" width="50" height="50">
                    <small class="d-block mb-3 text-muted">© 2017–2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Who we are</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/index">Home</a>
                        </li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">About
                                us</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/services">Services we
                                provide</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/contact">Contact
                                Us</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Get involved</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/donation">Donate</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/regres">Join the team</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/signup">Request
                                for food</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Follow us</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.instagram.com/india_beats_hunger/">Instagram</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">linkedIn</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>




</body>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>
