<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Query section</title>
    <link rel="stylesheet" href="mystyle.css">
</head>

<body style="background-image: url('/static/img/bg12.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="py-5 text-center">
        <img class="IMG-2" src="/static/img/logo1.jpg" alt="" width="150" height="100">
        <br>
        <div class=" align-items-center g-lg-5 px-5 py-5">
            <div class="text-center text-lg-start">
               
                <br>
                <p class="lead fst-italic fw-bold text-dark text-center ">“Have any queries? Share it with us!”</p>
            </div>
        </div>

        <div class="px-3 align-items-center g-lg-5 px-5  ">
            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" action="/query">
            {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="floatingInput" required placeholder="name@example.com"
                        required>
                    <label for="floatingInput">Email address</label>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="Name" class="form-control" name="name" id="floatingPassword" required placeholder="name">
                    <label for="floatingPassword">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="password" class="form-control" name="comment" id="comments" required placeholder="Suggestions"
                        style="height: 200px"></textarea>
                    <label for="floatingPassword">Comments</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" href="#">Submit</button>
                <hr class="my-4">
{% if messages %}
 {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
{% endif %}
                <small class="text-muted">Our team will get back to you in 24hrs.</small>
            </form>
        </div>
    </div>
    </div>


    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/static/img/logo1.jpg" alt="" width="50" height="50">
                <small class="d-block mb-3 text-muted">© 2017–2021</small>
            </div>
            <div class="col-6 col-md">
                <h5>Who we are</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/index">Home</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about">About us</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/services">Services we
                            provide</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/contact">Contact
                            Us</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Get involved</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/donation">Donate</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/regres">Join
                            the team</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/signup">Request for
                            food</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Follow us</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Instagram</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">linkedIn</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>