<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>IBH</title>
</head>

<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="/index"><img src="/static/img/logo1.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs">Blogs</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-success"  href="/login">Login</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <br>
        <br>
        <br>

        <br>
        <div class="container my-5">
            <div class="mask" style="background-color:black;">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                        <h1 class="text-white display-4 fw-bold lh-1">Solving Food Wastage</h1><br>
                        <p id="opening">
                        <p class="lead text-light">We're taught that food in a dumpster is waste. But when you find bags
                            of bread
                            that are perfectly good, all of a sudden that waste turns into bounty.<br> That's an
                            important
                            shift in perception. </p>
                           
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                            

                        </div>
                        </a>
                    </div>
                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                        <img class="rounded-lg-3 " src="/static/img/wastage.jpg" alt="" height="500" width="500">
                    </div>
                </div>
            </div>
        </div>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-bold">Food Insecurity</h1>
                    <p class="lead text-muted">Look at the stats below and decide are we moving in the right direction ?
                    </p>

                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/static/img/stats.JPG">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>

                            <div class="card-body">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                            href="https://indianexpress.com/article/india/global-health-index-2020-india-6757899/">View
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/static/img/stat3.jpeg">

                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>

                            <div class="card-body">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                            href="https://www.globalhungerindex.org/india.html">View </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="/static/img/malnurished.png">

                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em"></text>
                            </svg>

                            <div class="card-body">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                            href="https://data.unicef.org/topic/nutrition/malnutrition/">View</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="/static/img/household.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                        height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">The Food not Eaten</h1>
                    <p class="lead text-dark ">Did you know that about 40 % of the food produced in India is wasted?<br>
                        <br>
                        Despite adequate food production, it is estimated that the
                        value of food wastage in India is around ₹92,000 crores per annum.
                        <br>
                        These are some bleak statistics, but they should help us realise the magnitude of the problem of
                        food waste, as much as inequity, in India.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a type="button" class="btn btn-outline-secondary  px-4 me-md-2"
                            href="https://www.ndtv.com/india-news/india-wasted-over-68-million-tons-of-food-in-2019-globally-931-million-tons-food-wasted-un-report-2384225">View</a>

                    </div>
                </div>
            </div>
        </div>
        
        
    </main>
    <!-- Marketing messaging and featurettes
          ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <!-- START THE FEATURETTES -->


  

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-dark">Take Action</h1>
            <br>
            <p class="col-md-8 fs-4">We at IBH try to maintain the highest levels of transparency in our
                functioning. We maintain a full database of our volunteers and donors on our website which can be
                accessed by anyone, anywhere at anytime!</p>
            <br>
           
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Register your restuarant</h2>
                <p>Be the part of the change.<br> Utilize your waste food help those in need for the same.
                    Help us to help you.</p>
                <a class="btn btn-lg btn-outline-light" type="button" href="/regres">Register</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Need Food ?</h2>
                <p>Reach out to us if you’re an NGO, private organisation or educational institute that is in need of
                    food support.</p>
                <a class="btn btn-lg btn-outline-secondary" type="button" href="/regngo">Register</a>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-2">
            <h2 class="display-4 fw-normal">Make an impact as a consumer</h2>
            <p class="lead fw-normal">Make an impact from the comfort of your home. Donate your leftovers like vegetable
                peels for a noble cause!</p>
            <h4>Wandering what we do?</h4>
            <p>The leftovers are recycled and segregated in two categories - animals and manure - and donated
                through our distributors.</p>
                <p>P.S. we do not take any monetary donations.</p>
            <br>
            <a class="btn btn-lg btn-outline-secondary" href="/donation">Donate Food</a>
            <a class="btn btn-lg btn-outline-secondary" href="https://www.pmcares.gov.in/en/">Donate Towards PM Care Fund</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <br>
  
    

</body>















<!-- /END THE FEATURETTES -->



<!-- FOOTER -->
<footer class="px-5 pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/static/img/logo1.jpg" alt="" width="50" height="50">
            <small class="d-block mb-3 text-muted">© 2017–2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Who we are</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="home.html">Home</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="about_us.html">About
                        us</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="Services.html">Services we
                        provide</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="Contact Us.html">Contact
                        Us</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Get involved</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="donation_page.html">Donate</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="register_restraunt.html">Join
                        the team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="sign_up.html">Request for
                        food</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Follow us</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Facebook</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Instagram</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">linkedIn</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>
</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>




</body>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>





